.auth-page {
    &__main {
        display: flex;
        flex: 1;
        margin: 8.4rem 0;
    }

    &__layout {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    &__brand {
        max-width: 37rem;
        width: 100%;
        height: 9rem;
        margin-bottom: 10rem;
    }
}
